# dependencies
node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




src/z_archived

node_modules/
src/assets/fomantic/node_modules/
src/assets/fomantic/dist/

# git rm -r --cached src/assets/fomantic/dist/