# dependencies
node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

vaccines/src/assets/fomantic/dist/
vaccines/src/assets/fomantic/tasks/
vaccines/src/assets/fomantic/

z_archived

server.js
start-client.js
start-server.js


